---
Checks: >
  -*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  cert-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-magic-numbers,

HeaderFilterRegex: '.*\.(h|hpp)$'
ImplementationFileExtensions:
  - cpp
  - cxx
  - cc

WarningsAsErrors: ''

ExtraArgs:
  - -std=c++20
  - -I.
