[submodule "libs/SDL3"]
	path = libs/SDL3
	url = https://github.com/libsdl-org/SDL
	branch = main
	shallow = true
[submodule "libs/miniaudio"]
	path = libs/miniaudio
	url = https://github.com/mackron/miniaudio
	branch = dev
	shallow = true
	shallow = true
[submodule "libs/libwebp"]
	path = libs/libwebp
	url = https://github.com/webmproject/libwebp
	shallow = true
[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libs/fluidsynth"]
	path = libs/fluidsynth
	url = https://github.com/FluidSynth/fluidsynth.git
	fetchRecurseSubmodules = false
