[submodule "libs/SDL3"]
	path = libs/SDL3
	url = https://github.com/libsdl-org/SDL
	branch = main
	shallow = true
[submodule "libs/miniaudio"]
	path = libs/miniaudio
	url = https://github.com/mackron/miniaudio
	branch = dev
	shallow = true
[submodule "libs/BLAKE3"]
	path = libs/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3
	shallow = true
[submodule "libs/dr_libs"]
	path = libs/dr_libs
	url = https://github.com/mackron/dr_libs
	shallow = true
[submodule "libs/libogg"]
	path = libs/libogg
	url = https://github.com/xiph/ogg
	shallow = true
[submodule "libs/libvorbis"]
	path = libs/libvorbis
	url = https://github.com/xiph/vorbis
	shallow = true
[submodule "libs/libwebp"]
	path = libs/libwebp
	url = https://github.com/webmproject/libwebp
	shallow = true
[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libs/fluidsynth"]
	path = libs/fluidsynth
	url = https://github.com/FluidSynth/fluidsynth.git
	fetchRecurseSubmodules = false
